@import '../../global/variables';

#default-table {
  background: $third-color;
  border-radius: 5px;
  width: 100%;
  border-spacing: 0;
  box-shadow: 2px 3px 2px rgba($color: #7c7c7c, $alpha: 0.2);
  position: relative;

  thead {
    .table-title {
      width: 100%;
      text-align: center;
      letter-spacing: 0.6px;
      padding: 10px 0 12px 0;
      text-transform: capitalize;
      font-size: $font-medium;
      font-family: 'Montserrat Medium';
    }

    .table-header {
      background-color: #efefef;

      th {
        color: #7c7c7c;
        height: 30px;
        text-transform: capitalize;
        font-size: $font-minimal;
      }
    }
  }

  tbody {
    tr {
      td {
        height: 30px;
        border-bottom: 0.01px solid #e5e5e5;
        padding: 10px 0;
        font-family: 'Montserrat Medium';
        font-size: $font-minimal;
        letter-spacing: 0.6px;
        text-align: center;
      }

      svg {
        cursor: pointer;
      }
    }
  }
}
