@import '../../global/variables';

#pagination {
  display: flex;
  align-items: center;

  .pagination-pages {
    outline: none;
    border: none;
    background-color: $third-color;
    margin: 0 3px;
    padding: 5px;
    font-size: $font-medium;
    cursor: pointer;

    &:hover {
      transition: all 1s ease;
      background-color: rgba($color: $third-color, $alpha: 0.8);
    }
  }

  .active {
    background-color: $secondary-color;
    color: $third-color;

    &:hover {
      background-color: rgba($color: $secondary-color, $alpha: 0.8);
    }
  }

  svg {
    color: $third-color;
    cursor: pointer;
  }
}
