@import '../../global/variables';

#login {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;

  .logo-cash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 500px;
      height: 500px;
      animation: imgGrow 1.5s ease-out;
    }
  }

  .login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: $third-color;
    animation: slideInDrawer 0.5s;

    h1:first-child {
      text-transform: uppercase;
      margin-top: 120px;
      margin-bottom: 90px;
      width: 70%;
      text-align: center;
    }

    input:first-of-type {
      margin-bottom: 40px;
    }

    .input-default {
      label {
        text-transform: uppercase;
        margin-bottom: 8px;
        padding-left: 10px;
      }

      input {
        width: 380px;
      }
    }

    button {
      margin: 0 0 0 35%;
      margin-top: 50px;
      width: 160px;
    }
  }

  @keyframes imgGrow {
    0% {
      border-radius: 50%;
      opacity: 0.2;
      width: 50px;
      height: 50px;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      border-radius: 0;
    }
  }

  @keyframes slideInDrawer {
    0% {
      margin-left: -150px;
      opacity: 0.2;
    }

    33% {
      opacity: 0.5;
    }

    66% {
      opacity: 0.8;
    }

    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
}
