@import '../../global/variables';

.default_input_text_area {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    margin-bottom: 5px;
    font-family: 'Montserrat Medium';
    font-size: $font-small;
  }

  textarea {
    outline: none;
    border: 1.5px solid $primary-color;
    box-shadow: 0px 2px 7px 1px rgba($color: $primary-color, $alpha: 0.33);
    border-radius: 8px;
    padding: 6px;
    transition: box-shadow 0.7s;

    &:focus {
      box-shadow: 0px 2px 7px 1px rgba($color: $primary-color, $alpha: 1);
    }
  }

  .error_text {
    color: $error-color;
    position: absolute;
    bottom: 23%;
    left: 3%;
    font-size: $font-minimal;
    animation: slideIn 0.2s;
  }

  @keyframes slideIn {
    0% {
      visibility: hidden;
      left: -50px;
    }

    33% {
      visibility: visible;
      opacity: 0.2;
      left: -30px;
    }

    50% {
      left: -20px;
      opacity: 0.5;
    }

    66% {
      left: -10px;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }
}
