@import './variables';

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../assets/font/Montserrat/Montserrat-Medium.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $primary-color;
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
}

#global_loading_page {
  position: fixed;
  background-color: rgba($color: $primary-color, $alpha: 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .loader {
    border: 8px solid $third-color;
    border-top: 8px solid $secondary-color;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 48%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
