@import '../../global/variables';

#header-container {
  width: 100vw;
  height: 40px;
  background: $third-color;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  box-shadow: 0 4px 10px 0 rgba($color: $fourth-color, $alpha: 0.25);

  svg {
    margin-right: 20px;
    cursor: pointer;
  }

  h1 {
    font-size: $font-large;
    text-transform: uppercase;
  }
}
