@import '../../global/variables';

#header-container {
  width: 100vw;
  height: 40px;
  background: $third-color;
  display: flex;
  align-items: center;
  padding: 0 10px;

  svg {
    margin-right: 20px;
    cursor: pointer;
  }

  h1 {
    font-size: $font-large;
    text-transform: uppercase;
  }
}
