@import '../../global/variables';

#background-shadow {
  width: 100%;
  height: 100vh;
  background-color: rgba($color: $fourth-color, $alpha: 0.4);
  z-index: 1;
  position: absolute;
  right: 0;
}

#sidebar {
  position: absolute;
  background-color: $third-color;
  height: 100vh;
  width: 230px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 0.5s ease-in;

  .logo {
    margin-top: -30px;
    margin-bottom: 20px;
    width: 180px;
  }

  div:last-child {
    margin: auto 0 0 0;
    margin-bottom: 37px;
  }

  .icon-link {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    cursor: pointer;
    min-width: 70%;
    gap: 16px;

    a,
    span {
      text-decoration: none;
      color: $fourth-color;
      text-transform: uppercase;
      font-weight: 800;
    }

    &:hover {
      background-color: $primary-color;
      border-radius: 125px;
      transform: translateX(18px);
      padding: 1px 2px 1px 8px;
      transition: all 0.5s ease-in;

      a,
      span {
        color: $third-color;
        transition: all 1.3s;
      }

      path {
        color: $third-color;
        transition: all 1.3s;
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    left: -300px;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -300px;
    opacity: 0;
  }
}
